*.swp
.emacs.d/.cask
.emacs.d/custom.el
.emacs.d/projectile-bookmarks.eld
.emacs.d/auto-save-list/
.emacs.d/eshell/
.emacs.d/projectile.cache
.emacs.d/ac-comphist.dat
.emacs.d/.mc-lists.el
.emacs.d/image-dired
.emacs.d/smex-items
.emacs.d/ido.last
