[user]
	name = Antonio de la Torre
	email = antondelatorre@gmail.com

[diff]
    tool = meld

[rerere]
    enabled = true


[color]
    ui = true
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[push]
    default = current

[core]
	editor = vim
#[merge]
#	tool = kdiff3
[merge]
	tool = kdiff3
